[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist"
]

[phases.build]
cmds = []

[start]
cmd = "php artisan migrate --force --no-interaction && php artisan db:seed --force --no-interaction || true && php artisan serve --host=0.0.0.0 --port=80"
